body{
  width: 177vh;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: radial-gradient(119.99% 62.42% at 50% 36.33%, #7B16E1 0%, #000E87 100%); */
  background-color: aliceblue;
    
}


#parent-div{
    position: absolute;
    width: 177vh;
    height: 100vh;
    background-image: radial-gradient(119.99% 62.42% at 50% 36.33%, #7B16E1 0%, #000E87 100%);
      /* background: radial-gradient(119.99% 62.42% at 50% 36.33%, #7B16E1 0%, #000E87 100%); */
  
  }

.centerParent{
    height: 30vh !important;
    width: 30vh!important;
    position:absolute !important;
    background-color:transparent !important;
 
  }

  .centerImg{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    }

 
  .textDiv{
    height: 50%;
    width: 50%;
    position: absolute;
    z-index: 1;
    opacity: 40%;
    text-align: center;
    font-size: 2vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(#CF47FF, #7E00EE);
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    }

  .sideDiv{
    /* height: 20vh;
    width: 20vh; */
    position: absolute;
    background-color: transparent;
  }

  .grandchildDiv{
    /* height: 20vh;
    width: 20vh; */
    position: absolute;
    background-color: transparent;
  }